<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title><%= "Benjamin Charity | Front-End Engineer" %></title>

    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="cover  active">
      <article class="cover__contact">
        <h1>Benjamin Charity</h1>
        <h2>Responsive Development // UI // Interaction</h2>
        <span>six78-two31-one138</span>
        <a href="mailto:ben@benjamincharity.com">ben@benjamincharity.com</a>
        <span>Atlanta, GA</span>
      </article>

      <img class="js-bg" src="" alt="" />
      <img src="i/texture.png" alt="" />
    </div>

    <div class="window  nano">
      <div class="content">
        <%= partial "shared/header" %>

        <%= partial "projects" %>
        <%#= partial "about" %>
        <%= partial "contact" %>

      </div>
    </div>
  </body>

  <%= javascript_include_tag "jquery", "modernizr", "sugar", "imagesLoaded", "nanoScroller", "scripts" %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12135040-1']);
    _gaq.push(['_setDomainName', 'benjamincharity.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
