<section class="projects">

  <ul>
    <li class="future"><%= partial "shared/project" %></li>
    <li class="future"><%= partial "shared/project" %></li>
    <li class="future"><%= partial "shared/project" %></li>
    <li class="future"><%= partial "shared/project" %></li>
    <li class="future"><%= partial "shared/project" %></li>
  </ul>
  
</section>
